<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @expenses_detail.amount %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @expenses_detail.bill %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @expenses_detail.concept %>
</p>

<%= link_to 'Edit', edit_expenses_detail_path(@expenses_detail), class:'btn btn-outline-info btn-sm' %> |
<%= link_to 'Back', expenses_details_path, class:'btn btn-outline-danger btn-sm mt-5' %>
