<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <%= link_to 'Comunidapp', root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
      
      <% if signed_in? %>
      
        <ul class="navbar-nav mr-auto">
          
          <% if current_user.user_type_id == 1 %>
            <li class="nav-item active">
              <%= link_to 'Edificios', buildings_path, class: "nav-link" %>
            </li>
          <% end %>

          <% if current_user.user_type_id == 1 %>
            <li class="nav-item active">
              <%= link_to 'Departamentos', departments_path, class: "nav-link" %>
            </li>
          <% end %>
          
          <li class="nav-item">
            <%= link_to 'Comunicados', communications_path, class: "nav-link" %>
          </li>
          
          <li class="nav-item">
              <%= link_to 'Boletas', bills_path, class: "nav-link" %>
          </li>
          
          <% if current_user.user_type_id == 1 || current_user.user_type_id == 2 %>
            <li class="nav-item">
                <%= link_to 'Gastos', general_expenses_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to 'Conceptos', concepts_path, class: "nav-link" %>
            </li>         
          <% end %> 
        </ul>

      <% end %>

    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          
        <% if signed_in? %>

          <li class="nav-item">
            <span class="navbar-text small mr-3">
              <%= current_user ? "Hola #{current_user.name}!" : "Inicia sesion para continuar" %>
            </span>
          </li>

          <li class="nav-item">
            <%= link_to 'Editar cuenta', edit_user_registration_path, class: "nav-link small" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete, class: "nav-link small" %>
          </li>

        <% else %>

          <li class="nav-item">
            <%= link_to'Iniciar sesion', new_user_session_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to'Registrarse', new_user_registration_path, class: "nav-link" %>
          </li>

        <% end %>

      </ul>

    </div>
  </div>

</nav>
    