<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :num_dep %>
    <%= form.text_field :num_dep %>
  </div>

  <div class="field">
    <%= form.label :floor %>
    <%= form.number_field :floor %>
  </div>

  <div class="field">
    <%= form.label :defaulting %>
    <%= form.check_box :defaulting %>
  </div>

  <div class="field">
    <%= form.label :habitability %>
    <%= form.check_box :habitability %>
  </div>

  <div class="field">
    <%= form.label :collection %>
    <%= form.text_field :collection %>
  </div>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.text_field :building_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
