<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-row">
      <div class="field form-group col-md-8">
        <%= form.label :num_dep %>
        <%= form.text_field :num_dep, class:"form-control" %>
      </div>
    
      <!-- Este campo se modificara al crear una boleta = true / al realizar el pago = false -->
      <!-- <div class="field form-group col-md-8">
        <%#= form.label :defaulting %>
        <%#= form.check_box :defaulting %>
      </div> -->
    
      <div class="field form-group col-md-8">
        <%= form.label :collection %>
        <%= form.text_field :collection, class:"form-control" %>
      </div>

      <div class="field form-group col-md-8">
        <%= form.label :habitability %>
        <%= form.check_box :habitability %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :building_id %>
        <%= form.select(:building_id, options_for_select(@building_array, selected: form.object.building_id), prompt: 'Seleccione edificio') %>
      </div>

      <div class="field form-group col-md-8">
        <%= form.label :floor %>
        <%= form.number_field :floor, class:"form-control" %>
      </div>
    
      <div class="actions col-md-8">
        <%= form.submit %>
      </div>
    </div>
<% end %>
