<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @department.num_dep %>
</p>

<p>
  <strong>Piso:</strong>
  <%= @department.floor %>
</p>

<p>
  <strong>Deuda:</strong>
  <% if @department.defaulting %>
    <td class="align-middle"><%= link_to "Ver boleta", department.bills, class:'btn btn-danger' %></td>
  <% else %>
    <td class="align-middle">Solvente</td>
  <% end %>
</p>
<p>
  <strong>Habitabilidad:</strong>
  <% if @department.habitability %>
    <td class="align-middle">Habitable</td>
  <% else %>
    <td class="align-middle">No disponible</td>
  <% end %>
</p>

<p>
  <strong>Recaudacion:</strong>
  <%= @department.collection %>
</p>

<p>
  <strong>Edificio:</strong>
  <%= @department.building.name %>
</p>

<%= link_to 'Edit', edit_department_path(@department), class:'btn btn-outline-primary btn-sm' %> |
<%= link_to 'Back', departments_path, class:'btn btn-outline-danger btn-sm' %>
