<tr>
    <td class="align-middle"><%= link_to "#{bill.num_bill}", bill, class:'btn btn-outline-primary btn-sm btn-block' %></td>
    <td class="align-middle"><%= bill.department.num_dep %></td>
    <td class="align-middle"><%= bill.issue_date %></td>
    <td class="align-middle"><%= bill.status %></td>
    <% if bill.bill_doc.attached? %>
      <td class="align-middle"><%= image_tag bill.bill_doc %></td>
    <% else %>
      <td class="align-middle">Sin documento</td>
    <% end %>
    <% if bill.voucher_doc.attached? %>
      <td class="align-middle"><%= image_tag bill.voucher_doc %></td>
    <% else %>
      <td class="align-middle">Sin voucher</td>
    <% end %>
    <td class="align-middle"><%= bill.total %></td>
    <td class="align-middle"><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td class="align-middle"><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>