<!-- Bill form -->
<%= form_with(model: bill) do |form| %>

  <div class="row">
    <div class="col-md-6 mr-5">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text font-weight-bold">Num. Boleta</span>
          </div>
          <% if @last_bill == nil %>
            <%= form.text_field :num_bill, class:"form-control font-weight-bold" %>
          <% else %>
            <%= form.label :num_bill, :value => @last_bill.num_bill.to_i + 1, class:"form-control font-weight-bold" %>
            <%= form.text_field :num_bill, :value => @last_bill.num_bill.to_i + 1, class:"form-control font-weight-bold d-none" %>
          <% end %>
        </div>
      </div>

      <div class="form-group d-none">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Edificio</span>
          </div>
          <%= form.text_field :building_id, :value => current_user.building_id, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Departamento</span>
          </div>
          <%= form.select(:department_id, options_for_select(@department_array, selected: form.object.department_id), prompt: 'Departamento') %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Fecha</span>
          </div>
          <%= form.date_select :issue_date %>
        </div>
      </div>

      <% if @last_bill == nil %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Total</span>
            </div>
            <%= form.text_field :total, class:"form-control" %>
          </div>
        </div>
      <% else %>
        <%= form.label :total, :value => 0, class:"form-control d-none" %>
        <%= form.text_field :total, :value => 0, class:"form-control d-none" %>
      <% end %>

    </div>

    <div class="col-md-5">

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Gasto general</span>
          </div>
          <%= form.text_field :amount, :value => @sum_total_month, :disabled => true, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :bill_doc, "Boleta" %>
        <br>
        <%= form.file_field :bill_doc %>
      </div>
    
      <div class="form-group">
        <%= form.label :paid_doc, "Voucher de Pago" %>
        <br>
        <%= form.file_field :paid_doc %>
      </div>

    </div>

  </div>
  
  <!-- Expenses details form -->
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Monto</th>
        <th>Concepto </th>
        <th><%= add_expenses_detail_button(form) %></th>
      </tr>
    </thead>
    <tbody class="expenses_detail_td">
      <%= form.fields_for :expenses_details do |expenses_form| %>
        <%= render 'bills/expenses/expenses_fields', expenses_form: expenses_form %>
      <% end %>
    </tbody>
  </table>
    <div class="container">
      <div class="row">
        <div class="col-10">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        </div>
        <div class="col-2">
          <%= form.submit class:"btn btn-success" %>
        </div>
      </div>
    </div>
<% end %>