<!-- Bill form -->
<%= form_with(model: bill) do |form| %>

  <div class="row">
    <div class="col-md-6 mr-5">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Num. Boleta</span>
          </div>
          <%= form.text_field :num_bill, :value => @last_bill, class:"form-control" %>
        </div>
      </div>


      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Edificio</span>
          </div>
          <%= form.text_field :building_id, :value => @building.id, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Departamento</span>
          </div>
          <%= form.select(:department_id, options_for_select(@department_array), prompt: 'Departamento') %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Fecha</span>
          </div>
          <%= form.date_select :issue_date %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :status, "Estado" %>
        <%= form.check_box :status %>
      </div>
    </div>

    <div class="col-md-5">

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Gasto general</span>
          </div>
          <%= form.text_field :amount, :value => 12345, :disabled => true, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :bill_doc, "Boleta" %>
        <br>
        <%= form.file_field :bill_doc %>
      </div>
    
      <div class="form-group">
        <%= form.label :paid_doc, "Voucher de Pago" %>
        <br>
        <%= form.file_field :paid_doc %>
      </div>

    </div>

  </div>
  
  <!-- Expenses details form -->
  <%= form.fields_for :expenses_details do |expenses_form| %>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Monto</th>
          <th>Concepto</th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'bills/expenses/expenses_fields', expenses_form: expenses_form %>
        <td class="expenses_detail_td">
          <%= add_expenses_detail_button(form) %>
        </td>
      </tbody>
    </table>
    
    <div class="container">
      <div class="row">
        <div class="col-10">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        </div>
        <div class="col-2">
          <%= form.submit type:"button", class:"btn btn-success" %>
        </div>
      </div>
    </div>
    <% end %>
  
<% end %>