<%= form_with(model: bill, local: true) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="field form-group col-md-8">
      <%= form.label :department_id %>
      <%= form.select(:department_id, options_for_select(@department_array), prompt: 'Seleccione departamento') %>
    </div>

    <div class="form-row">
      <div class="field form-group col-md-8">
        <%= form.label :num_bill %>
        <%= form.text_field :num_bill, class:"form-control" %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :total %>
        <%= form.text_field :total, class:"form-control" %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :issue_date %>
        <%= form.date_select :issue_date %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :status %>
        <%= form.check_box :status %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :bill_doc %>
        <%= form.file_field :bill_doc %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :voucher_doc %>
        <%= form.file_field :voucher_doc %>
      </div>
    
      <div class="actions form-group col-md-8">
        <%= form.submit %>
      </div>
    </div>
  </form>
<% end %>
