<!-- Bill form -->
<%= form_with(model: bill) do |f| %>

  <div class="row">
    <div class="col-md-6 mr-5">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Num. Boleta</span>
          </div>
          <%= f.text_field :num_bill, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Departamento</span>
          </div>
          <%= f.select(:department_id, options_for_select(@department_array), prompt: 'Departamento') %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Fecha</span>
          </div>
          <%= f.date_select :issue_date %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :status, "Estado" %>
        <%= f.check_box :status %>
      </div>
    </div>

    <div class="col-md-3 ml-5">
      <div class="form-group">
        <%= f.label :bill_doc, "Boleta" %>
        <br>
        <%= f.file_field :bill_doc %>
      </div>
    
      <div class="form-group">
        <%= f.label :voucher_doc, "Voucher de Pago" %>
        <br>
        <%= f.file_field :voucher_doc %>
      </div>
    </div>

  </div>
  
  <!-- Expenses details form -->
  <%= f.fields_for :expenses_detail do |expenses_form| %>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Monto</th>
          <th>Concepto</th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'bills/expenses/expenses_fields', expenses_form: expenses_form %>
      </tbody>
      <% end %>
    </table>

  <%= f.submit %>

<% end %>