<p id="notice"><%= notice %></p>

<p>
  <strong>Num bill:</strong>
  <%= @bill.num_bill %>
</p>

<p>
  <strong>Total:</strong>
  <%= @bill.total %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @bill.issue_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill.status %>
</p>

<p>
  <strong>Boleta:</strong>
  <% if @bill.bill_doc.attached? %>
    <td><%= image_tag @bill.bill_doc %></td>
  <% else %>
    <p>No existe documento</p>
  <% end %>
</p>

<p>
  <strong>Voucher de pago:</strong>
  <% if @bill.paid_doc.attached? %>
    <td><%= image_tag @bill.paid_doc %></td>
  <% else %>
    <p>No existe documento</p>
  <% end %>
</p>

<p>
  <strong>Department:</strong>
  <%= @bill.department %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
