<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-row">
      <div class="field form-group col-md-8">
        <%= form.label :name %>
        <%= form.text_field :name, class:"form-control" %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :address %>
        <%= form.text_field :address, class:"form-control" %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :logo %>
        <%= form.file_field :logo %>
      </div>
    
      <div class="actions col-md-8">
        <%= form.submit %>
      </div>
    </div>
  </form>
  
<% end %>
