<p id="notice"><%= notice %></p>

<h1>Edificios</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <% if building.logo.attached? %>
          <td><%= image_tag building.logo, class: 'index_img img-thumbnail' %></td>
        <% else %>
          <td><i class="far fa-building fa-3x img-thumbnail"></i></td>
        <% end %>
        <td class="align-middle"><%= link_to "#{building.name}", building, class:'btn btn-outline-primary btn-sm btn-block' %></td>
        <td class="align-middle"><%= building.address %></td>
        <td class="align-middle"><%= link_to 'Edit', edit_building_path(building), class:'btn btn-outline-info btn-sm' %></td>
        <td class="align-middle"><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path, class:"btn btn-success" %>
