<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>Logo:</strong>
  <% if @building.logo.attached? %>
    <td><%= image_tag @building.logo %></td>
  <% else %>
  <i class="far fa-building"></i>
  <% end %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
