<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>Logo:</strong>
  <% if @building.logo.attached? %>
    <td><%= image_tag @building.logo, class: "img-thumbnail img-fluid show_img" %></td>
  <% else %>
    <i class="far fa-building"></i>
  <% end %>
</p>

<%= link_to 'Edit', edit_building_path(@building), class:'btn btn-outline-info btn-sm' %> |
<%= link_to 'Back', buildings_path, class:'btn btn-outline-danger btn-sm my-3' %>
