<tr>
  <td class="align-middle text-center"><%= link_to "#{communication.num_release}", communication, class:'btn btn-outline-primary btn-sm btn-block', remote: true %></td>
  <td class="align-middle text-center"><%= communication.title %></td>
  <td class="align-middle text-center"><%= communication.created_at.strftime("%d-%m-%Y") %>
  <% if communication.status %>
    <td class="align-middle text-center">Vigente</td>
  <% else %>
    <td class="align-middle text-center">No vigente</td>
  <% end %>
  <% if communication.release_doc.attached? %>
    <td class="align-middle text-center"><%= image_tag communication.release_doc, class:'index_img img-thumbnail' %></td>
  <% else %>
    <td class="align-middle text-center"><i class="far fa-file-alt img-thumbnail fa-2x"></i></td>
  <% end %>
  <% if current_user.user_type_id == 1 %>
    <td class="align-middle text-center"><%= communication.building.name %></td>
  <% elsif current_user.user_type_id == 1 || current_user.user_type_id == 2 %>
    <td class="align-middle"><%= link_to 'Edit', edit_communication_path(communication), class:'btn btn-outline-info btn-sm', remote: true %></td>
    <td class="align-middle"><%= link_to 'Destroy', communication, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %></td>
  <% end %>
  </tr>