<%= form_with(model: communication) do |form| %>
  <% if communication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(communication.errors.count, "error") %> prohibited this communication from being saved:</h2>

      <ul>
      <% communication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-row">
      <div class="field form-group col-md-8">
        <%= form.label :num_release, "Numero" %>
        <%= form.text_field :num_release, class:"form-control" %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :title, "Titulo" %>
        <%= form.text_field :title, class:"form-control" %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :content, "Contenido" %>
        <%= form.text_field :content, class:"form-control" %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :status, "Estado" %>
        <%= form.check_box :status %>
      </div>
    
      <div class="field form-group col-md-8">
        <%= form.label :release_doc, "Documento" %>
        <%= form.file_field :release_doc %>
      </div>
    
      <div class="field d-none">
        <%= form.label :building_id %>
        <%= form.text_field :building_id, :value => @current_user.building_id %>
      </div>
    
      <div class="actions col-md-8">
        <%= form.submit class:"btn btn-success" %>
      </div>
    </div>
  </form>
<% end %>
