<%= form_with(model: communication, local: true) do |form| %>
  <% if communication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(communication.errors.count, "error") %> prohibited this communication from being saved:</h2>

      <ul>
      <% communication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :num_release %>
    <%= form.number_field :num_release %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :document %>
    <%= form.text_field :document %>
  </div>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.text_field :building_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
