<p id="notice"><%= notice %></p>

<h1>Comunicados</h1>

<table class="table">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Titulo</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Documento</th>
      <th>Edificio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communications.each do |communication| %>
      <tr>
        <td class="align-middle"><%= link_to "#{communication.num_release}", communication, class:'btn btn-outline-info btn-lg btn-block' %></td>
        <td class="align-middle"><%= communication.title %></td>
        <td class="align-middle"><%= communication.created_at %>
        <% if communication.status %>
          <td class="align-middle">Vigente</td>
        <% else %>
          <td class="align-middle">No vigente</td>
        <% end %>
        <% if communication.release_doc.attached? %>
          <td><%= image_tag communication.release_doc, class:'index_img img-thumbnail' %></td>
        <% else %>
          <td><i class="far fa-file-alt img-thumbnail fa-4x"></i></td>
        <% end %>
        <td class="align-middle"><%= communication.building.name %></td>
        <td class="align-middle"><%= link_to 'Edit', edit_communication_path(communication), class:'btn btn-outline-primary btn-sm' %></td>
        <td class="align-middle"><%= link_to 'Destroy', communication, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo comunicado', new_communication_path, class:"btn btn-primary" %>
